*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body {
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.navbar{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
.navlinks>a{
    padding: 0 1rem;
    text-decoration: none;
    color: black;

}
#burger{
    display: none;
}
.navlinks>a:hover{
    color:rgb(70, 70, 251);
}
.nav-btn{
    padding: 0.7rem 2rem;
    font-size: 1.001rem;
    background: transparent;
    border: 1px solid black;
    outline: none;
    border-radius: 1rem;
    margin-left: 2rem;
}
i{
    font-size: 1.1rem;
    padding: 0 5px;
}
.navsearch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.content{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
.left{
    background: rgb(70, 70, 251);
    width: 30%;
    height: calc(100vh + 5rem);
}
.right{
    width: 70%;
    align-self: center;
    justify-self: center;
}

.main-img{
    height: 100vh;
    width: 35vw;
    position: absolute;
    top: 5rem;
    left: 8%;

}
.main-img>img{
    height: 100%;
    width: 100%;
}
.main-text{
    width: 40vw;
    margin-left: 20vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
#para1{
    font-size: 2.3vw;
    margin: 1rem 0;
    color: grey;
}
h1{
    font-size: 4vw;
    font-weight: 700;
    line-height: 5vw;
}
#para2{
    margin-top: 0.5rem;
    color: grey;
    font-size: 1.2vw;
    line-height: 25px;
    word-spacing: 2px;
}
#main-btn{
    padding: 0.9rem 2.5rem;
    font-size: 1.01vw;
    background: transparent;
    border: none;
    outline: none;
    background-color: rgb(70, 70, 251);
    color: white;
    border-radius: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    transition: 0.3s;
}
#main-btn:hover{
    background: transparent;
    border: 1px solid rgb(70, 70, 251);
    color: black;
}
.items{
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.image{
    height: 100%;
    width: 100%;
}
.image>img{
   height: 100%;
   width: 100%;
}
.item-text{
   
    background-color:rgb(70, 70, 251) ;
    z-index: 1;
    padding: 1.8rem 2.3rem 1.8rem 1rem;
    color: whitesmoke;
    margin-bottom: 2rem;
}
.item{
    position: relative;
}
.item-hover{
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    background: rgba(250, 250, 248, 0.83);
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transition: 0.5s;
}
.item-hover:hover{
    opacity: 1;
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
#item-para, #item-heading{
    align-self: flex-start;
    margin:0 0 0rem 7rem;
}
#item-para{
    font-size: 1.1vw;
    color: grey;
    margin-bottom: 0.5rem;
}
#item-heading{
    margin-top: 0;
    font-size: 2.6rem;
    margin-bottom: 2rem;
    letter-spacing:-2px;
}
#item-heading>strong{
    text-decoration: underline;
    text-underline-offset: 10px;
    
}

.product-list{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content:center ;
    align-content: center;
    gap: 2rem;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.product>img{
    height: 100%;
    width: 100%;
}
.product-img{
    position: relative;
}
.img-hover{
    position: absolute;
    bottom:  0%;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.706);
    opacity: 0;
    transition: 0.8s;
}
.img-hover:hover{
    opacity: 1;
}
.img-hover>i:hover{
    background-color: rgb(70, 70, 251);
}
.img-hover>i{
    background-color: rgba(70, 70, 251, 0.572);
    font-size: 1.1rem;
    padding: 0.8rem;
    color: white;
    z-index: 0;
}
.product-price{
    align-self: center;
    justify-self: center;
    text-align: center;
}
.product-price>p{
    font-size: 1rem;
    color: grey;
    margin: 0.8rem 0;
}
.product-price>h4{
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: -1px;
}
.sale-img{
    margin-top: 3rem;
    height: 60vh;
    width: 100%;
    background: url(./assists/parallax-bg.png.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 15rem;
    gap: 1rem;
    text-align: center;
}
.sale-img>h2{
    font-size: 4em;
    font-weight: 200;
}
.selling{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.selling-list{
    margin-top: 3rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content:center ;
    align-content: center;
    gap: 2rem;
}
.news{
    margin-top: 4rem;
}

.news-price>p{
    color: grey;
    font-size: 0.9rem;
    margin: 1rem 0;
    line-height: 1rem;
}

@media (max-width : 600px) {
    .navlinks , .navsearch{
        display: none;
    }
    #burger{
        display: block;
        font-size: 2rem;
    }
    .content{
        flex-direction: column;
    }
    .left{
        width: 90%;
        height: 80vh;
    }
    .main-img{
        position: absolute;
        right: 0%;
        width: 90%;
        height: 60%
    }
    h1{
        font-size: 5vw;
    }
    .main-text{
        margin-top: 25vw;
        margin-left: 2vw;
        width: 80%;
    }
    #para2{
        font-size: 2vw;
        line-height: 3vw;
    }
    #main-btn{
        font-size: 3vw;
    }
    .items{
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .product-list{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        justify-content:center ;
        align-content: center;
        gap: 2rem;
    }
    .sale-img{
        background: lightblue;
        padding-left: 2rem;
    }
    .selling-list{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2 , 1fr);
        gap: 10px;
    }
}
